@media(min-width :769px){
  .new-list {
  margin: 20px 50px;
}

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
}

@media(min-width: 321px) and (max-width :768px){
  .new-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .new-list-form {
    color: #555555;
    .buttonWrapper{
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .new-list-title {
    width: 300px;
    margin-bottom: 25px;
  }
  
  .new-list-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
  }
  
}

@media(max-width:320px){
  .new-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .new-list-form {
    color: #555555;
    width: 100%;

    .buttonWrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .new-list-title {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .new-list-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80%;
    height: 40px;
    border-radius: 5px;
 
  }
}