@charset "utf-8";
@media (min-width:769px) {
  .signin {
    width: 500px;
    margin: 20px auto;
    h2{
      font-size: xx-large;  }
  }

  .signin-form {
    margin: 25px 0;

    .br {
      display: contents;
    }

  }

  .email-label,
  .password-label {
    color: #555555;
  }

  .email-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  .signin-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
  }

  .error-message {
    color: #ff3333;
  }
}

@media (min-width:321px) and (max-width:768px) {
  .signin {
    max-width: 400px;
    width: 90%;
    margin: 20px auto;

  }

  .signin-form {
    margin: 25px 0;

    .br {
      display: contents;
    }

  }

  .email-label,
  .password-label {
    color: #555555;
  }

  .email-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  .signin-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
  }

  .error-message {
    color: #ff3333;
  }
}

@media (max-width:320px) {
  .signin {
    width: 90%;
    margin: 20px auto;
  }

  .signin-form {
    margin: 25px 0;

    a {
      margin:10px 0 0 5px;
    }
  }

  .email-label,
  .password-label {
    color: #555555;
  }

  .email-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  .signin-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .error-message {
    color: #ff3333;
  }
}